#navigationContainer {
	clear: both;
	display: block;
	float: left;
	width: 100%;
	position: fixed;
	z-index: 1060;
	background: $ffd_color_main;
	color: $ffd_color_three;

	.main-navigation {
		clear: both;
		display: block;
		float: left;
		width: 100%;

		ul {
			list-style: none;
			margin: 0;
			padding-left: 0;

			> li {
				text-align: center;
				float: left;
				position: relative;
				padding: 18px 0;

				a {
					//display: block;
					text-decoration: none;
					text-transform: uppercase;
					font-family:'Montserrat';
					letter-spacing: 2px;
					color: $ffd_color_three;
					-webkit-transition: color 0.3s;
					-moz-transition: color 0.3s;
					transition: color 0.3s;
				}

				&.current-menu-item {
					a {
						color: white;
						text-shadow: 2px 2px 2px rgba($ffd_color_three, 0.75);
					}
				}

				a:hover {
					color: white !important;
				}
			}

		}

		&:hover {
			ul > li.current-menu-item a {
				color: $ffd_color_main;
			}
		}

		.menu-of-1 ul > li { width: 100%; }
		.menu-of-2 ul > li { width: 50%; }
		.menu-of-3 ul > li { width: 33.3333%; }
		.menu-of-4 ul > li { width: 25%; }
		.menu-of-5 ul > li { width: 20%; }
		.menu-of-6 ul > li { width: 16.66666%; }
		.menu-of-7 ul > li { width: 14.285714286%; }

	}

	/* Small menu. */
	.menu-toggle {
		display: none;
	}

	@media screen and (max-width: 600px) {
		.menu-toggle,
		.main-navigation.toggled .nav-menu {
			display: block;
		}

		.main-navigation ul {
			display: none;
		}
	}

}

.home .main-navigation ul > li { padding: 38px 0; }
